.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.toDoList{
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 15px;
}

.error {
  border: 2px solid red;
  outline: red;
}

.active{
  border: 2px solid royalblue;
}

.isDone{
  opacity: 70%;
  text-decoration: line-through;
}